# Copy this file to .env and fill in your real values.
# Get these from Supabase Dashboard -> Project Settings -> API

SUPABASE_URL=https:https://futnwiwywaaefnodvksv.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1dG53aXd5d2FhZWZub2R2a3N2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0MjE3MTAsImV4cCI6MjA5Njk5NzcxMH0.pkCLRnJ1YxnGPs_UoJ0fLTv-aBbtKmZONMiwj_Vgbok
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1dG53aXd5d2FhZWZub2R2a3N2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTQyMTcxMCwiZXhwIjoyMDk2OTk3NzEwfQ.aqF9ydfXktXGkRtJcQE15YX2hOW2tipaBr-_jfUYP3M

# Any random long string, used to sign Flask session cookies
FLASK_SECRET_KEY=66af0bd46d842a071b64751b315f1a05c7a7ac38320639155162100c792dd5e4

# Comma-separated list of emails allowed to access /addbooks
ADMIN_EMAILS=gollapallishashanksharma@gmail.com
