body {
    margin: 0;
    background-color: #020202;
    background-image: ;
   
    border-color: #070707;
    color: #0c0b0c;


    
    
}

.books
{
    display: flex;
    flex-direction: row;
    margin: 40px;
    align-content: center;
    color: #eeecf3;
    width: 20px; 
    height: auto;
    gap: 40px;

}
.book
{
    position: relative;
    display: inline-block;
    background-color: #060505; 
    color: #e7dede; 
    font-size: 14px; 
    border: 2px solid #ebe4e4; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: all 0.4s ease;
    padding: 5px;
    height: auto;
}

.book:hover {
    background-color: #090909; 
    border-color: #0b0b0b; 
    transform: scale(1.1);
    color: #060505;
    bottom: 5px;
   
  } 
  .details{
    position: absolute;
  bottom: 4px;
  left: 8px;
  right: 8px;
  color: rgb(246, 240, 240);
  opacity: 0;
  background: rgba(0, 0, 0, 0.5); /* Background color with transparency */
  padding: 10px;
  border-radius: 4px;
  transform: translateY(10px);
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
  }
  .details:hover{

    
    
    transform: scale(1.05);
    color: #f1e9e9;
    
   
  }
  .book:hover .details {
    opacity: 10; /* Show the details */
    transform: translateY(0); /* Make the details rise up */
  }
  .navbar
{
    background-color: rgb(251, 245, 245);
    text-align: center;
    padding: 40px;
    text-transform: capitalize;
    color: #6f43b5;
    
}
 
.navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    background-color: #f8f8f8;
}

.navbar a {
    text-decoration: none;
    color: #1b1a1a;
    font-size: 18px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.navbar a:hover {
    color: #0f0e0e;
    text-shadow: 0 0 5px #141313, 0 0 10px #101010, 0 0 15px #850585, 0 0 20px #a30da3;
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #090909;
    transform: scaleY(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.navbar a:hover::after {
    transform: scaleY(1);
    transform-origin: bottom left;
}
